@{
    ViewBag.Title = "Confirm";
}

<div class="header py-7 py-lg-8" style="padding-top:20px !important; background:linear-gradient(87deg,#5e72e4 0,#172b4d 100%) !important">
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 100" preserveAspectRatio="none meet" x="0" y="0" version="1.1">
            <polygon class="fill-secondary" style="stroke-width:5;stroke:#f8f9fe;" points="3000,0 3000,100 0,100" />
        </svg>
    </div>
</div>
<div class="container-fluid" style="margin-top:-5rem;">
    <div class="row">
        <div class="col"></div>
        <div class="col-3">
        <div class="card bg-secondary shadow border-0">
            <div class="card-body text-center">
                <p>@ViewBag.Message</p>
            </div>
        </div>
        </div>
        <div class="col"></div>
    </div>
</div>


