@{
    ViewBag.Title = "ClassCoin";
}

<div class="header py-7 py-lg-8" style="padding-top:0px !important; background:linear-gradient(87deg,#5e72e4 0,#172b4d 100%) !important">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <img src="~/Graphics/class_coin_logo.png" style="width:200px;height:200px;display:block;margin-left:auto;margin-right:auto;">
                <h1 class="text-lighter text-center">ClassCoin</h1>
                <p class="text-lead text-lighter" style="text-align:center;">Guide your class with coin</p>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 100" preserveAspectRatio="none meet" x="0" y="0" version="1.1">
            <polygon class="fill-secondary" style="stroke-width:5;stroke:#f8f9fe;" points="3000,0 3000,100 0,100" />
        </svg>
    </div>
</div>

<div class="container-fluid">
    <div class="row" style="padding-top:20px;padding-bottom:20px;">
        <div class="col-12">
            <h1 class="text-center">How it works</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="productDescrip col-2" style="text-align:center;">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body">
                    <img src="~/Graphics/create_rewards.png" />
                    <h2 class="text-dark">Create Rewards</h2>
                    <p class="text-lead text-dark">Personalize your classroom's store by adding preset or customized rewards.</p>
                </div>
            </div>
        </div>
        <div class=" productDescrip col-2" style="text-align:center;">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body">
                    <img src="~/Graphics/distribute_funds.png" />
                    <h2 class="text-dark">Distribute Funds</h2>
                    <p class="text-lead text-dark">Send a custom amount of coins to individual students or groups of students.</p>
                </div>
            </div>
        </div>
        <div class="productDescrip col-2" style="text-align:center;">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body">
                    <img src="~/Graphics/purchase_rewards.png" />
                    <h2 class="text-dark">Buy Rewards</h2>
                    <p class="text-lead text-dark">Students use their earnings to purchase the in-store rewards that they can afford.</p>
                </div>
            </div>
        </div>
        <div class="productDescrip col-2" style="text-align:center;">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body">

                    <img src="~/Graphics/project_earnings.png" />
                    <h2 class="text-dark">View Earnings</h2>
                    <p class="text-lead text-dark">Project student funds on screen so they know when and how much they are earning.</p>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>
